.main__Container{
    padding: 5% 10%;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 2rem;
}

.below__Section img{
    width: 258px;
    height: 219px;
    border-radius: 32px;

}

.desc1,.desc2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.price{
    text-align: -webkit-right;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
