.nav-bar{
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    height: 40%;
    width: 40%;
    background-color: #fff;    
}

button{
   border: 1px solid black;
   padding : 10px 30px;
   font-size: 16px;
   cursor:pointer;
   font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
   font-weight: bolder;
}

button.btn1{
    color: black;
    background-color: white;
    border-color: #fff;
}
button.btn2{
    color: white;
    background-color: black;
}
.btn3{
    color: white;
    background-color: #fc8019;
    border-color: #fc8019;
    margin: 10px;
}

@media screen and (max-width: 754px){
    .btn{
        display: flex;
    }
    img{
        width: 85%;
        height: 66%;
    }
    button{
        padding : 5px 15px;
        font-size: 10px;
    }
  }

  @media (max-width:375px){
    .nav-bar{
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 0 40px 0% 8%;
        }
    }
